<!-- Footer -->
<div class="row footer">
    <footer class="" style="text-align: center; margin-top:10px; color: #FFF;">
        <div class="" style="width:100%">
            <div class="footer-container">
                <div class="col-md-4" style="text-align: center;">
                    <a href="#" target="_blank" style="color: white;">
                        <img src="../static/images/swedish-logo.png" alt="" style="margin: 0 auto; width: 150px;"
                             class="img-responsive">
                    </a>
                    <br/>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <br><br>
                    {% if page.language == "albanian" %}
                    <h4>Rreth Visualizuesit:</h4>
                    <p>Indeksi Kosovar për Shoqëri Civile 2016 është përkrahur financiarisht nga Zyra Zvicerane për
                        Bashkëpunim në Kosovë (SCO-K). KCSF mbështetet nga Sida.</p>
                    {% elsif page.language == "serbian" %}
                    <h4>O Vizualizer</h4>
                    <p>Kosovski indeks civilnog društva 2016 je finansijski podržala Švajcarska kancelarija za saradnju
                        na Kosovu (SCO-K). KCSF je podržana od Sida.</p>
                    {% else %}
                    <h4>About the visualizer</h4>
                    <p>Kosovar Civil Society Index 2016 was financially supported by the Swiss Cooperation Office in
                        Kosovo (SCO-K). KCSF is supported by Sida.</p>
                    {% endif %}
                </div>
                <div class="footer-col col-md-4">
                    <br>
                    <div style="text-align: center;">
                        <a href="#" target="_blank" style="color: white;">
                            <img src="../static/images/logo-eidgenossenschaft.png" alt=""
                                 style="margin: 0 auto; margin-top: 30px; width: 300px;" class="img-responsive">
                        </a>
                    </div>
                    <br>
                </div>
                <br><br>
                <div class="footer-col col-md-12">
                    <br>
                    <h4>Follow us</h4>
                    <!-- Twitter -->
                    <a href="https://twitter.com/KCSFoundation" data-toggle="tooltip" title="Twitter" target="_blank"
                       class="share-btn twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <!-- Facebook -->
                    <a href="https://www.facebook.com/KCSFoundation/?fref=ts" data-toggle="tooltip" title="Facebook"
                       target="_blank" class="share-btn facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <!-- Page -->
                    <a href="http://kcsfoundation.org/" data-toggle="tooltip"
                       title="Kosovar Civil Society Foundation" target="_blank" class="share-btn home">
                        <i class="fa fa-home"></i>
                    </a>
                    <br><br>
                </div>
            </div>
        </div>
    </footer>
</div>