<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="">KCSF Visualizer</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if page.language == "albanian" %}
                    <li class="active"><a href="index.html">Visualizuesi</a></li>
                {% else %}
                    <li class="active"><a href="index.html">Visualizer</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if page.language == "albanian" %}
                    <li class="active"><a href="../sq/index.html">Shqip</a></li>
                    <li><a href="../en/index.html">English</a></li>
                    <li><a href="../sr/index.html">Srpski</a></li>
                    <li>
                        <a href="../static/download/questionnaires/Indeksi_Kosovar_i_Shoqerise_Civile_Pyetesori_Tetor_2016.pdf"
                           download="Indeksi_Kosovar_i_Shoqerise_Civile_Pyetesori_Tetor_2016.pdf" class="download-nav">
                           Shkarkoni pyetësorin
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/reports/Indeksi_Kosovar_i_Shoqerise_Civile_2016.pdf"
                           download="Indeksi_Kosovar_i_Shoqerise_Civile_2016.pdf" class="download-nav">
                           Shkarkoni raportin
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/datasets/Indeksi_Kosovar_i_Shoqerise_Civile_Tetor_2016.sav"
                           download="Indeksi_Kosovar_i_Shoqerise_Civile_Tetor_2016.sav" class="download-nav">
                           Shkarkoni të dhënat
                        </a>
                    </li>
                    <li>
                        <a href="#" class="help">
                            Ndihme
                        </a>
                    </li>
                {% elsif page.language == "serbian" %}
                    <li><a href="../sq/index.html">Shqip</a></li>
                    <li><a href="../en/index.html">English</a></li>
                    <li class="active"><a href="../sr/index.html">Srpski</a></li>
                    <li>
                        <a href="../static/download/questionnaires/Upitnik_Kosovski_indeks_civilnog_društva_Oktobar_2016.pdf"
                           download="Upitnik_Kosovski_Indeks_Civilnog_Društva_Oktobar_2016.pdf" class="download-nav">
                           Preuzimajte upitnik
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/reports/Kosovski_indeks_civilnog_drustva_2016.pdf"
                           download="Kosovski_Indeks_Civilnog_Drustva_2016.pdf" class="download-nav">
                           Preuzmite izveštaj
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/datasets/The_Kosovar_Civil_Society_Index_October_2016.sav"
                           download="The_Kosovar_Civil_Society_Index_October_2016.sav" class="download-nav">
                           Preuzmite podatke
                        </a>
                    </li>
                    <li>
                        <a href="#" class="help">
                            NdihmeSR
                        </a>
                    </li>
                {% else %}
                    <li><a href="../sq/index.html">Shqip</a></li>
                    <li class="active"><a href="../en/index.html">English</a></li>
                    <li><a href="../sr/index.html">Srpski</a></li>
                    <li>
                        <a href="../static/download/questionnaires/The_Kosovar_Civil_Society_Index_Questionnaire_October_2016.pdf"
                           download="The_Kosovar_Civil_Society_Index_Questionnaire_October_2016.pdf" class="download-nav">
                           Download questionnaire
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/reports/Kosovar_Civil_Society_Index_2016.pdf"
                           download="Kosovar_Civil_Society_Index_2016.pdf" class="download-nav">
                           Download Report
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/datasets/The_Kosovar_Civil_Society_Index_October_2016.sav"
                           download="The_Kosovar_Civil_Society_Index_October_2016.sav" class="download-nav">
                           Download Data Set
                        </a>
                    </li>
                    <li>
                        <a href="#" class="help">
                            Help
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div> <!-- navbar-collapse -->
    </nav>
</div>
