<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="">KCSF Visualizer</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if page.language == "albanian" %}
                    <li class="active"><a href="index.html">Visualizuesi</a></li>
                {% else %}
                    <li class="active"><a href="index.html">Visualizer</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if page.language == "albanian" %}
                    <li class="active"><a href="../sq/index.html">Shqip</a></li>
                    <li><a href="../en/index.html">English</a></li>
                    <li><a href="../sr/index.html">Srpski</a></li>
                    <li>
                        <a href="../static/download/questionnaires/questionnaire-al-2015.pdf"
                           download="questionnaire-al-2015.pdf">
                           Shkarkoni pyetësorin
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/reports/report-al-2016.pdf"
                           download="report-al-2016.pdf">
                           Shkarkoni raportin
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/datasets/dataset-al-2016.pdf"
                           download="dataset-al-2016.sav">
                           Shkarkoni të dhënat
                        </a>
                    </li>
                {% elsif page.language == "serbian" %}
                    <li><a href="../sq/index.html">Shqip</a></li>
                    <li><a href="../en/index.html">English</a></li>
                    <li class="active"><a href="../sr/index.html">Srpski</a></li>
                    <li>
                        <a href="../static/download/questionnaires/questionnaire-sr-2015.pdf"
                           download="questionnaire-sr-2015.pdf">
                           Preuzimajte upitnik
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/reports/report-sr-2016.pdf"
                           download="report-sr-2016.pdf">
                           Preuzmite izveštaj
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/datasets/dataset-en-2016.sav"
                           download="dataset-en-2016.sav">
                           Preuzmite podatke
                        </a>
                    </li>
                {% else %}
                    <li><a href="../sq/index.html">Shqip</a></li>
                    <li class="active"><a href="../en/index.html">English</a></li>
                    <li><a href="../sr/index.html">Srpski</a></li>
                    <li>
                        <a href="../static/download/questionnaires/questionnaire-en-2015.pdf"
                           download="questionnaire-en-2015.pdf">
                           Download questionnaire
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/reports/report-en-2016.pdf"
                           download="report-en-2016.pdf">
                           Download Report
                        </a>
                    </li>
                    <li>
                        <a href="../static/download/datasets/dataset-en-2016.sav"
                           download="dataset-en-2016.sav">
                           Download Data Set
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div> <!-- navbar-collapse -->
    </nav>
</div>