<!-- Facebook Open Graph tags -->
<meta property="og:title" content="KCSF Visualizer" />
<meta property="og:site_name" content="KCSF Visualizer"/>
<!--<meta property="og:image" content="" />-->
<meta property="og:type" content="website" />
<!--<meta property="og:url" content="" />-->
<meta property="fb:app_id" content="966242223397117"/>
<!--<meta property="og:description" content="" />-->

<!-- Twitter card tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@KCSFoundation">
<meta name="twitter:description" content="KCSF Visualizer">
<meta name="twitter:title" content="KCSF Visualizer">
<meta name="twitter:creator" content="@OpenDataKosovo">
<!--<meta name="twitter:image" content="">-->