<div class="row">
    <div class="sub-header-container">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-2 col-xs-12" style="text-align: center;">
                <a href=""><img src="../static/images/kcsf-logo.png"></a>
            </div>
            <div class="col-md-8 col-xs-12" style="text-align: center;">
                <form class="form-inline main-indicator-form">
                    <label id="main-indicator-label" for="main-indicator-select">Main Indicator: </label>
                    <div class="form-group">
                        <select id="main-indicator-select" class="form-control select">
                            <option>Main Indicator</option>
                            <option>Level of governance</option>
                            <option>Highest governing body</option>
                            <option>Payment of taxes and other obligations on the regular basis</option>
                        </select><br>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-md-8 col-xs-12" style="text-align: center;">
                <form class="form-inline dissagregate-form">
                    <label for="disaggregate-select">Disaggregate by: </label>
                    <div class="form-group">
                        <select id="disaggregate-select" class="form-control select">
                            <option>Disaggregate by</option>
                            <option>Location</option>
                            <option>Public Benefit Status</option>
                            <option>Payment of taxes and other obligations on the regular basis</option>
                        </select><br><br/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>