<div class="row">
    <div class="sub-header-container">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-2 col-xs-12" style="text-align: center;">
                <a href=""><img src="../static/images/kcsf-logo.png"></a>
            </div>
            <div class="col-md-8 col-xs-12" style="text-align: center;">
                <form class="form-inline main-indicator-form">
                    <label id="main-indicator-label" for="main-indicator-select">Main Indicator: </label>
                    <div class="form-group">
                        <select id="main-indicator-select" class="form-control select">
                            <option value="q9">Which level of governance is the main focus of the work of your organization?</option>
                            <option value="q18">What is the highest governing body of your organization?</option>
                            <option value="q23">Do you report regularly to the Tax Administration of Kosovo (TAK)?</option>
                        </select><br>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-md-8 col-xs-12" style="text-align: center;">
                <form class="form-inline dissagregate-form">
                    <label for="disaggregate-select">Disaggregate by: </label>
                    <div class="form-group">
                        <select id="disaggregate-select" class="form-control select">
                            <option value="0">Disaggregate by</option>
                            <option value="q2">Location (town/municipality)</option>
                            <option value="q7">Which is your main area of activity?</option>
                            <option value="q11">In which year was your organization established?</option>
                            <option value="q15">Does your organization have a Public Beneficiary Status?</option>
                            <option value="q28">How many external financial audits have you had during the year 2015?</option>
                        </select><br><br/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>