<div class="row">
    <div class="sub-header-container">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-2 col-xs-12" style="text-align: center;">
                <a href=""><img src="../static/images/kcsf-logo.png"></a>
            </div>
            <div class="col-md-8 col-xs-12" style="text-align: center;">
                <form class="form-inline main-indicator-form">
                    {% if page.language == "english" %}
                        <label id="main-indicator-label-en" for="main-indicator-select">Main Indicator: </label>
                    {% elsif page.language == "serbian" %}
                        <label id="main-indicator-label-sr" for="main-indicator-select">Glavni Pokazatelj: </label>
                    {% else %}
                        <label id="main-indicator-label-sq" for="main-indicator-select">Treguesi kryesorë: </label>
                    {% endif %}
                    <div class="form-group">
                        <select id="main-indicator-select" class="form-control select">
                        </select><br>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-md-8 col-xs-12" style="text-align: center;">
                <form class="form-inline dissagregate-form">
                    {% if page.language == "english" %}
                        <label for="disaggregate-select">Disaggregate by: </label>
                    {% elsif page.language == "serbian" %}
                        <label for="disaggregate-select">Podele prema: </label>
                    {% else %}
                        <label for="disaggregate-select">Ndarja sipas: </label>
                    {% endif %}
                    <div class="form-group">
                        <select id="disaggregate-select" class="form-control select">
                            {% if page.language == "english" %}
                                <option value="0">Disaggregate by</option>
                                <option value="q2">Location (town/municipality)</option>
                                <option value="q7">Which is your main area of activity?</option>
                                <option value="q11">In which year was your organization established?</option>
                                <option value="q15">Does your organization have a Public Beneficiary Status?</option>
                            {% elsif page.language == "serbian" %}
                                <option value="0">Podele prema</option>
                                <option value="q2">Mesto (grad/opština)</option>
                                <option value="q7">Koje je vaše glavno polje delatnosti?</option>
                                <option value="q11">U kojo se godini je osnovana vaša organizacija?</option>
                                <option value="q15">Da li vaša organizacija ima status javnog korisnika?</option>
                            {% else %}
                                <option value="0">Ndarja sipas</option>
                                <option value="q2">Lokacioni (qyteti/komuna)</option>
                                <option value="q7">Cila është fusha juaj kryesore e veprimtarisë?</option>
                                <option value="q11">Në cilin vit është themeluar organizata juaj?</option>
                                <option value="q15">A ka organizata juaj Status për Përfitim Publik?</option>
                            {% endif %}
                        </select><br><br/>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-xs-12" style="text-align: center;"></div>
        </div>
    </div>
</div>