<style media="screen">


    .container-fluid.container-slideshow,
    .container-slideshow .col-md-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-tutorial{
        max-width: 320px;
    }
    .slideshow-item-image{
        padding-top: 15px;
        padding-bottom: 15px;
        #background-color: #FAFAFA;
    }

    .slideshow-step-img{
        width: 400px;
    }
    .modal-body-slideshow{
        background-color: #F4F4F4;
    }

    .padd-15-sides{
        padding-left: 15px;
        padding-right: 15px;
    }
    .row-btn{
        padding-top: 15px;
    }
</style>

<div id="tutorial-slideshow-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body modal-body-slideshow" align="center">
                <div class="container-fluid container-slideshow">
                    <button type="button" class="close" id="close-tutorial">&times;</button>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="tutorial-slideshow" class="owl-carousel">
                                <div class="item">
                                    <div class="container-fluid container-item">
                                        <div class="row row-text">
                                            <div class="col-md-12">
                                                <p class="h5">
                                                    {% if page.language == "albanian" %}
                                                        Zgjedhni temën të cilën dëshironi t’a analizoni
                                                    {% elsif page.language == "serbian" %}
                                                        Izaberite temu koju želite da analizirate.
                                                    {% else %}
                                                        Select a topic you wish to analyze.
                                                    {% endif %}
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row slideshow-item-image">
                                            <div class="col-md-12">
                                                {% if page.language == "albanian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sq-1.png" alt="pickTopic">
                                                {% elsif page.language == "serbian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sr-1.png" alt="pickTopic">
                                                {% else %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-en-1.png" alt="pickTopic">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row row-btn">
                                            <div class="col-xs-6">
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-next-slide" id="btn-next-1">
                                                    {% if page.language == "albanian" %}
                                                        vazhdo <span>&raquo;</span></a>
                                                    {% elsif page.language == "serbian" %}
                                                        sledeći <span>&raquo;</span></a>
                                                    {% else %}
                                                        next <span>&raquo;</span></a>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid container-item">
                                        <div class="row row-text">
                                            <div class="col-md-12">
                                                <p class="h5">
                                                    {% if page.language == "albanian" %}
                                                        Përcaktoni indikatorin që ju intereson.
                                                    {% elsif page.language == "serbian" %}
                                                        Navedite indikator za koji ste zainteresovani.
                                                    {% else %}
                                                        Specify the indicator you are interested in.
                                                    {% endif %}
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row slideshow-item-image">
                                            <div class="col-md-12">
                                                {% if page.language == "albanian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sq-2.png" alt="pickTopic">
                                                {% elsif page.language == "serbian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sr-2.png" alt="pickTopic">
                                                {% else %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tun-en-21.png" alt="pickTopic">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row row-btn">
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-prev-slide" id="btn-back-0">
                                                    {% if page.language == "albanian" %}
                                                        <span>&laquo;</span> mbrapa
                                                    {% elsif page.language == "serbian" %}
                                                        <span>&laquo;</span> nazad
                                                    {% else %}
                                                        <span>&laquo;</span> back
                                                    {% endif %}
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-next-slide" id="btn-next-2">
                                                    {% if page.language == "albanian" %}
                                                        vazhdo <span>&raquo;</span></a>
                                                    {% elsif page.language == "serbian" %}
                                                        sledeći <span>&raquo;</span></a>
                                                    {% else %}
                                                        next <span>&raquo;</span></a>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid container-item">
                                        <div class="row row-text">
                                            <div class="col-md-12">
                                                <p class="h5">
                                                    {% if page.language == "albanian" %}
                                                        Prezantoni të dhënat në njërën nga katër format e grafikoneve në dispozicion
                                                    {% elsif page.language == "serbian" %}
                                                        Vizualizirajte podatke sa jednim od četiri dostupna grafikona
                                                    {% else %}
                                                        Visualize the data with one of four available charts
                                                    {% endif %}
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row slideshow-item-image">
                                            <div class="col-md-12">
                                                {% if page.language == "albanian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sq-3.png" alt="pickTopic">
                                                {% elsif page.language == "serbian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sr-3.png" alt="pickTopic">
                                                {% else %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-en-3.png" alt="pickTopic">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row row-btn">
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-prev-slide" id="btn-back-1">
                                                    {% if page.language == "albanian" %}
                                                        <span>&laquo;</span> mbrapa
                                                    {% elsif page.language == "serbian" %}
                                                        <span>&laquo;</span> nazad
                                                    {% else %}
                                                        <span>&laquo;</span> back
                                                    {% endif %}
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-next-slide" id="btn-next-3">
                                                    {% if page.language == "albanian" %}
                                                        vazhdo <span>&raquo;</span></a>
                                                    {% elsif page.language == "serbian" %}
                                                        sledeći <span>&raquo;</span></a>
                                                    {% else %}
                                                        next <span>&raquo;</span></a>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid container-item">
                                        <div class="row row-text">
                                            <div class="col-md-12">
                                                <p class="h5">
                                                    {% if page.language == "albanian" %}
                                                        Thellohuni në të dhënat, duke i krahasuar indikatorët në mes vete
                                                    {% elsif page.language == "serbian" %}
                                                        Istražite više kako se podaci distribuiraju primenom disagregacije indikatora.
                                                    {% else %}
                                                        Dig deeper in how the data is distributed by applying disaggregation.
                                                    {% endif %}
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row slideshow-item-image">
                                            <div class="col-md-12">
                                                {% if page.language == "albanian" %}
                                                <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sq-4.png" alt="pickTopic">
                                                {% elsif page.language == "serbian" %}
                                                <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sr-4.png" alt="pickTopic">
                                                {% else %}
                                                <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-en-4.png" alt="pickTopic">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row row-btn">
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-prev-slide" id="btn-back-2">
                                                    {% if page.language == "albanian" %}
                                                        <span>&laquo;</span> mbrapa
                                                    {% elsif page.language == "serbian" %}
                                                        <span>&laquo;</span> nazad
                                                    {% else %}
                                                        <span>&laquo;</span> back
                                                    {% endif %}
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-next-slide" id="btn-next-4">
                                                    {% if page.language == "albanian" %}
                                                        vazhdo <span>&raquo;</span></a>
                                                    {% elsif page.language == "serbian" %}
                                                        sledeći <span>&raquo;</span></a>
                                                    {% else %}
                                                        next <span>&raquo;</span></a>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid container-item">
                                        <div class="row row-text">
                                            <div class="col-md-12">
                                                <p class="h5">
                                                    {% if page.language == "albanian" %}
                                                        Shkarkoni raportin, bazën e të dhënave si dhe pyetësorin.
                                                    {% elsif page.language == "serbian" %}
                                                        Preuzmite izveštaj, podatake i upitnik.
                                                    {% else %}
                                                        Download the report, datasets, and questionnaire.
                                                    {% endif %}
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row slideshow-item-image">
                                            <div class="col-md-12">
                                                {% if page.language == "albanian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sq-5.png" alt="pickTopic">
                                                {% elsif page.language == "serbian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sr-5.png" alt="pickTopic">
                                                {% else %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-en-5.png" alt="pickTopic">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row row-btn">
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-prev-slide" id="btn-back-3">
                                                    {% if page.language == "albanian" %}
                                                        <span>&laquo;</span> mbrapa
                                                    {% elsif page.language == "serbian" %}
                                                        <span>&laquo;</span> nazad
                                                    {% else %}
                                                        <span>&laquo;</span> back
                                                    {% endif %}
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-next-slide" id="btn-next-5">
                                                    {% if page.language == "albanian" %}
                                                        vazhdo <span>&raquo;</span></a>
                                                    {% elsif page.language == "serbian" %}
                                                        sledeći <span>&raquo;</span></a>
                                                    {% else %}
                                                        next <span>&raquo;</span></a>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container-fluid container-item">
                                        <div class="row row-text">
                                            <div class="col-md-12">
                                                <p class="h5">
                                                    {% if page.language == "albanian" %}
                                                        Shkarkoni tabelat në formate të ndryshme.
                                                    {% elsif page.language == "serbian" %}
                                                        Preuzmite grafikone u različitim formatima.
                                                    {% else %}
                                                        Download chart in different formats.
                                                    {% endif %}
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row slideshow-item-image">
                                            <div class="col-md-12">
                                                {% if page.language == "albanian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sq-6.png" alt="pickTopic">
                                                {% elsif page.language == "serbian" %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-sr-6.png" alt="pickTopic">
                                                {% else %}
                                                    <img class="slideshow-step-img img-responsive" src="../static/images/tutorial/tut-en-6.png" alt="pickTopic">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row row-btn owl-buttons">
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-prev-slide" id="btn-back-4">
                                                    {% if page.language == "albanian" %}
                                                        <span>&laquo;</span> mbrapa
                                                    {% elsif page.language == "serbian" %}
                                                        <span>&laquo;</span> nazad
                                                    {% else %}
                                                        <span>&laquo;</span> back
                                                    {% endif %}
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn-secondary--alt--md--fullwidth btn-tutorial btn-done-tutorial" id="btn-done-tutorial">
                                                    {% if page.language == "albanian" %}
                                                        përfundo
                                                    {% elsif page.language == "serbian" %}
                                                        završiti
                                                    {% else %}
                                                        finish
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ol class='tourbus-legs' id='tourbus-demo-1'>
  <!-- INTRO -->
  <li data-el='#topics-tut-highlight' data-highlight='true'  data-orientation='right' >
      <button type="button" class="close button remove-bottom tourbus-stop" id="close-tutorial">&times;</button>
    <h3>
        {% if page.language == "albanian" %}
            Zgjedhni temën të cilën dëshironi t’a analizoni
        {% elsif page.language == "serbian" %}
            Izaberite temu koju želite da analizirate.
        {% else %}
            Select a topic you wish to analyze.
        {% endif %}
    </h3>
    <div class='buttons'>
      <a href='javascript:void(0);' style='float: right;' class='button remove-bottom tourbus-next'>
          {% if page.language == "albanian" %}
              vazhdo <span>&raquo;</span></a>
          {% elsif page.language == "serbian" %}
              sledeći <span>&raquo;</span></a>
          {% else %}
              next <span>&raquo;</span></a>
          {% endif %}
      <a href='javascript:void(0);' class='button remove-bottom tourbus-stop'>
          {% if page.language == "albanian" %}
              përfundo
          {% elsif page.language == "serbian" %}
              završiti
          {% else %}
              finish
          {% endif %}
      </a>
    </div>
  </li>

  <li data-el='#main-indicator-select' data-highlight='true' data-width='420' data-orientation='bottom' data-align='center'>
      <button type="button" class="close button remove-bottom tourbus-stop" id="close-tutorial">&times;</button>
    <h4 class='remove-bottom'>
        {% if page.language == "albanian" %}
            Përcaktoni indikatorin që ju intereson.
        {% elsif page.language == "serbian" %}
            Navedite indikator za koji ste zainteresovani.
        {% else %}
            Specify the indicator you are interested in.
        {% endif %}
    </h4>
    <a class='button remove-bottom tourbus-next' style='margin-top: 2px; float: right;' href='javascript:void(0);'>
        {% if page.language == "albanian" %}
            vazhdo <span>&raquo;</span></a>
        {% elsif page.language == "serbian" %}
            sledeći <span>&raquo;</span></a>
        {% else %}
            next <span>&raquo;</span></a>
        {% endif %}
    </a>
    <a href='javascript:void(0);' class='tourbus-prev button remove-bottom' onclick='$(this).hide();'>
        {% if page.language == "albanian" %}
            <span>&laquo;</span> mbrapa
        {% elsif page.language == "serbian" %}
            <span>&laquo;</span> nazad
        {% else %}
            <span>&laquo;</span> back
        {% endif %}
    </a>
  </li>

  <li data-el='.table-inputs' data-highlight='true' data-width='320' data-orientation='bottom' data-margin='10' data-align='top'>
      <button type="button" class="close button remove-bottom tourbus-stop" id="close-tutorial">&times;</button>

    <h4 class='remove-bottom'>
        {% if page.language == "albanian" %}
            Prezantoni të dhënat në njërën nga katër format e grafikoneve në dispozicion
        {% elsif page.language == "serbian" %}
            Vizualizirajte podatke sa jednim od četiri dostupna grafikona.
        {% else %}
            Visualize the data with one of four available charts: a piechart, horizontal or vertical barcharts, or a pointchart.
        {% endif %}
    </h4>
    <a style='margin-top: 2px; float: right;' href='javascript:void(0);' class='tourbus-next button remove-bottom'>
        {% if page.language == "albanian" %}
            vazhdo <span>&raquo;</span></a>
        {% elsif page.language == "serbian" %}
            sledeći <span>&raquo;</span></a>
        {% else %}
            next <span>&raquo;</span></a>
        {% endif %}
    </a>
    <a href='javascript:void(0);' class='tourbus-prev button remove-bottom' onclick='$(this).hide();'>
        {% if page.language == "albanian" %}
            <span>&laquo;</span> mbrapa
        {% elsif page.language == "serbian" %}
            <span>&laquo;</span> nazad
        {% else %}
            <span>&laquo;</span> back
        {% endif %}
    </a>
  </li>

  <li data-el='#disaggregate-select' data-highlight='true' data-width='420' data-orientation='bottom' data-align='center'>
      <button type="button" class="close button remove-bottom tourbus-stop" id="close-tutorial">&times;</button>

    <h4>
        {% if page.language == "albanian" %}
            Thellohuni në të dhënat, duke i krahasuar indikatorët në mes vete
        {% elsif page.language == "serbian" %}
            Istražite više kako se podaci distribuiraju primenom disagregacije indikatora.
        {% else %}
            Dig deeper in how the data is distributed by applying disaggregation.
        {% endif %}
    </h4>
    <a href='javascript:void(0);' class='tourbus-prev button remove-bottom' onclick='$(this).hide();'>
        {% if page.language == "albanian" %}
            <span>&laquo;</span> mbrapa
        {% elsif page.language == "serbian" %}
            <span>&laquo;</span> nazad
        {% else %}
            <span>&laquo;</span> back
        {% endif %}
    </a>
    <a href='javascript:void(0);' style='float: right;' class='tourbus-next button remove-bottom'>
        {% if page.language == "albanian" %}
            vazhdo <span>&raquo;</span></a>
        {% elsif page.language == "serbian" %}
            sledeći <span>&raquo;</span></a>
        {% else %}
            next <span>&raquo;</span></a>
        {% endif %}
    </a>
  </li>

  <li data-el='.download-nav' data-highlight='true' data-width='250' data-orientation='bottom' data-align='top'>
      <button type="button" class="close button remove-bottom tourbus-stop" id="close-tutorial">&times;</button>

    <h4>
        {% if page.language == "albanian" %}
            Shkarkoni raportin, bazën e të dhënave si dhe pyetësorin.
        {% elsif page.language == "serbian" %}
            Preuzmite izveštaj, podatake i upitnik.
        {% else %}
            Download the report, datasets, and questionnaire.
        {% endif %}
    </h4>
    <a style='margin-top: 2px; float: right;' href='javascript:void(0);' class='tourbus-next button remove-bottom'>
        {% if page.language == "albanian" %}
            vazhdo <span>&raquo;</span></a>
        {% elsif page.language == "serbian" %}
            sledeći <span>&raquo;</span></a>
        {% else %}
            next <span>&raquo;</span></a>
        {% endif %}
    </a>
    <a href='javascript:void(0);' class='tourbus-prev button remove-bottom' onclick='$(this).hide();'>
        {% if page.language == "albanian" %}
            <span>&laquo;</span> mbrapa
        {% elsif page.language == "serbian" %}
            <span>&laquo;</span> nazad
        {% else %}
            <span>&laquo;</span> back
        {% endif %}
    </a>
  </li>

  <li data-el='.highcharts-button-box' data-highlight='true' data-width='250' data-orientation='left' data-align='bottom'>
      <button type="button" class="close button remove-bottom tourbus-stop" id="close-tutorial">&times;</button>

    <h4>
        {% if page.language == "albanian" %}
            Shkarkoni tabelat në formate të ndryshme.
        {% elsif page.language == "serbian" %}
            Preuzmite grafikone u različitim formatima.
        {% else %}
            Download chart in different formats.
        {% endif %}
    </h4>
    <a style='margin-top: 2px; float: right;' href='javascript:void(0);' class='tourbus-stop button remove-bottom'>
        {% if page.language == "albanian" %}
            përfundo
        {% elsif page.language == "serbian" %}
            završiti
        {% else %}
            finish
        {% endif %}

    </a>
    <a href='javascript:void(0);' class='tourbus-prev button remove-bottom' onclick='$(this).hide();'>
        {% if page.language == "albanian" %}
            <span>&laquo;</span> mbrapa
        {% elsif page.language == "serbian" %}
            <span>&laquo;</span> nazad
        {% else %}
            <span>&laquo;</span> back
        {% endif %}
    </a>
  </li>

</ol>
<div class='intro-tour-overlay'></div>
