-
-
-
-
-
-

body {
    font-family: Exo, corbel, sans-serif;
    font-size: 14px;
    padding: 0;
}

@font-face {
    font-family: "Exo";
    src: url("{{ site.basepath }}/static/font/Exo-Regular.otf");
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #157BB6 0, #269de5 100%) !important;
    border-color: #157BB6 !important;
}

.active a {
    background-image: linear-gradient(to bottom, #0f608c 0, #0f608c 100%) !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.navbar-toggle {
    border: 0.01em solid #ffffff !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0f608c !important;
}

.navbar-inverse ul li a {
    color: #fff !important;
}

.sub-header-container {
    /*height: 130px;*/
    overflow: hidden;
    padding: 0 20px 20px 20px;
}

.select {
    float: right !important;
    width: 397px !important;
}

@media (max-width: 480px) {
    .select {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    #main-indicator-label-en {
        margin-left: 10px;
    }

    #main-indicator-label-sq {
        margin-left: -35px;
    }

    #main-indicator-label-sr {
        margin-left: -22px;
    }
}

@media (max-width: 990px) {

    #main-indicator-label-en, #main-indicator-label-sq, #main-indicator-label-sr {
        margin-top: 30px !important;
    }
}